/* Акцентний колір #2196F3 */
/* Основний колір #757575 */
/* Вторинний колір #212121 */
/* Білий #FFFFFF */
/* Background button F5F4FA */
/* Footer rgba(255, 255, 255, 0.6) */

/* Колір фону  #FFFFFF*/
html{
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --bck-color: #2f303a;
  --bck-color-btn: #f5f4fa;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.2;
}
p{
  margin: 0;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Header */
.logo span {
  color: var(--accent-color);
}
.logo {
  margin-right: 93px;

  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.78px;
  text-decoration: none;
}
.main-nav{
  display: flex;
  align-items: center;
}
.nav-list{
  display: flex;
  align-items: center;
}
.address-list{
  display: flex;
  margin-left: auto;

}

.nav-list > .item + .item, .address-list > .item + .item{
  margin-left: 50px;
}

.nav-list .link {
  display: inline-block;
  color: var(--title-text-color);
  text-decoration: none;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.28px;
  padding-top: 32px;
  padding-bottom: 32px;
  
}
.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}
.link.curent {
  color: var(--accent-color);
  text-decoration: none;
}
.info-link {
  color: var(--primary-text-color);
  text-decoration: none;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
}
.info-link:hover,
.info-link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: var(--bck-color);
  text-align: center;
  padding-top: 200px;
  height: 600px;
}
.hero-title {
  width: 696px;
  height: 120px;
  margin: 0 auto 30px;

  color: var(--primary-white-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.hero .btn {
  padding: 10px 32px;
  border-radius: 4px;
  border-color: transparent;
  background-color: var(--accent-color);
  color: var(--primary-white-color);

  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  cursor: pointer;
}
/* advantages */
.advantages-section{
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages-list{
  display: flex;
}
.advantages-list > .item + .item{
  margin-left: 30px;
}

.advantages-title {
  margin: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
/* examples */
.examples-section{
  padding-bottom: 111px;
}
.examples-list {
  display: flex;
}
.section-title {
  margin: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);

  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
}
.examples-list > .item + .item {
  padding-left: 30px;
}
/* team */
.team-section{
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-list{
  display: flex;
}
.names-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  letter-spacing: 0.48px;
}
.position {
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.48px;
}
.team-list > .item + .item{
  margin-left: 30px;
}
/* footer */

footer {
  background-color: var(--bck-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo.footer {
  color: var(--primary-white-color);
  text-decoration: none;

  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.address-title {
  margin-top: 30px;
  color: var(--primary-white-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.address-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.address-link:hover, .address-link:focus{
    color: var(--accent-color);
}
/* portfolio */

.filter-btn {
  background-color: var(--bck-color-btn);
  color: var(--title-text-color);
  font-family: inherit;

  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  cursor: pointer;
}
.filter-btn.current,
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.work-title {
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
}

.work-description {
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.48px;
}
